@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
.discord{
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}